<a href="https://colab.research.google.com/github/divediamic530/Inventory-Management-ETG-/blob/main/Products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json

In [11]:

fd= open("record.json",'r')
record_data = fd.read()
fd.close()
record= json.loads(record_data)

In [12]:

record

{'10001': {'exp': '06-03-2022',
  'name': 'Amul Milk',
  'pr': 60,
  'prodt': 'Food',
  'qn': 115},
 '10002': {'exp': '01-09-2022',
  'name': 'Tata Salt',
  'pr': 18,
  'prodt': 'Food',
  'qn': 20},
 '10003': {'exp': '06-06-2022',
  'name': 'Amul Butter',
  'pr': 230,
  'prodt': 'Food',
  'qn': 30},
 '10004': {'exp': '06-06-2022',
  'name': 'Duracell Aaa Batteries',
  'pr': 148,
  'prodt': 'Appliances',
  'qn': 50},
 '10005': {'exp': '06-06-2024',
  'name': 'Usha Dry Iron',
  'pr': 899,
  'prodt': 'Appliances',
  'qn': 8},
 '10006': {'exp': '07-09-2024',
  'name': 'Modular Trio 2pin',
  'pr': 362,
  'prodt': 'Appliances',
  'qn': 13},
 '10007': {'exp': '01-05-2023',
  'name': 'Philips bulb',
  'pr': 349,
  'prodt': 'Electronic',
  'qn': 90},
 '10008': {'exp': '01-04-2022',
  'name': 'Cheese Grater',
  'pr': 47,
  'prodt': 'Kitchen',
  'qn': 10},
 '10009': {'exp': '01-05-2022',
  'name': 'Tea Stainer',
  'pr': 55,
  'prodt': 'Kitchen',
  'qn': 10},
 '10010': {'exp': '01-09-2023',
  'name': 'Fruit Knife',
  'pr': 80,
  'prodt': 'Kitchen',
  'qn': 10},
 '10011': {'exp': '01-04-2023',
  'name': 'Steel Forks',
  'pr': 150,
  'prodt': 'Kitchen',
  'qn': 300},
 '10012': {'exp': '01-04-2023',
  'name': 'Steel Spoons',
  'pr': 150,
  'prodt': 'Kitchen',
  'qn': 300},
 '10013': {'exp': '15-03-2023',
  'name': 'Sponge Scrub',
  'pr': 65,
  'prodt': 'Kitchen',
  'qn': 200},
 '10014': {'exp': '01-02-2022',
  'name': 'Swash Card',
  'pr': 18,
  'prodt': 'Kitchen',
  'qn': 150},
 '10015': {'exp': '01-12-2022',
  'name': 'Steel Scrub',
  'pr': 40,
  'prodt': 'Kitchen',
  'qn': 30},
 '10016': {'exp': '01-01-2023',
  'name': 'Broom',
  'pr': 150,
  'prodt': 'HomeUtilities',
  'qn': 10},
 '10017': {'exp': '01-12-2023',
  'name': 'Fry Pan',
  'pr': 800,
  'prodt': 'Kitchen',
  'qn': 10},
 '10018': {'exp': '20-09-2021',
  'name': 'Bread',
  'pr': 30,
  'prodt': 'Food',
  'qn': 9},
 '10019': {'exp': '20-09-2021',
  'name': 'Eggs',
  'pr': 20,
  'prodt': 'Food',
  'qn': 900},
 '10020': {'exp': '30-09-2021',
  'name': 'Curd',
  'pr': 90,
  'prodt': 'Food',
  'qn': 20},
 '10021': {'exp': '10-10-2021',
  'name': 'Dosa Batter',
  'pr': 130,
  'prodt': 'Food',
  'qn': 15},
 '10022': {'exp': '01-05-2022',
  'name': 'Amul Ghee',
  'pr': 350,
  'prodt': 'Food',
  'qn': 20},
 '10023': {'exp': '01-12-2021',
  'name': 'Red label Tea',
  'pr': 275,
  'prodt': 'Food',
  'qn': 30},
 '10024': {'exp': '01-11-2022',
  'name': 'Nescafe Coffee',
  'pr': 130,
  'prodt': 'Food',
  'qn': 40},
 '10026': {'exp': '01-08-2022',
  'name': 'Sprite',
  'pr': 70,
  'prodt': 'Drinks',
  'qn': 30},
 '10027': {'exp': '01-04-2022',
  'name': 'Hersheys Chocolate',
  'pr': 210,
  'prodt': 'Drinks',
  'qn': 20},
 '10028': {'exp': '01-03-2022',
  'name': 'Toast',
  'pr': 30,
  'prodt': 'Food',
  'qn': 40},
 '10029': {'exp': '01-01-2022',
  'name': 'Kissan Ketchup',
  'pr': 84,
  'prodt': 'Food',
  'qn': 45},
 '10030': {'exp': '01-05-2022',
  'name': 'Maggie',
  'pr': 90,
  'prodt': 'Food',
  'qn': 25},
 '10031': {'exp': '01-10-2021',
  'name': 'Fruit Cake',
  'pr': 150,
  'prodt': 'Food',
  'qn': 10},
 '10032': {'exp': '01-10-2021',
  'name': 'Chocolate Cake',
  'pr': 150,
  'prodt': 'Food',
  'qn': 20},
 '10033': {'exp': '01-11-2022',
  'name': 'Hide and Seek',
  'pr': 35,
  'prodt': 'Biscuits',
  'qn': 40},
 '10034': {'exp': '01-12-2022',
  'name': 'Good Day',
  'pr': 35,
  'prodt': 'Biscuits',
  'qn': 40},
 '10035': {'exp': '01-01-2023',
  'name': 'Black Pepper',
  'pr': 105,
  'prodt': 'Food',
  'qn': 50},
 '10036': {'exp': '20-09-2022',
  'name': 'Apple',
  'pr': 150,
  'prodt': 'Fruits',
  'qn': 48},
 '10037': {'exp': '20-09-2021',
  'name': 'Peru',
  'pr': 45,
  'prodt': 'Fruits',
  'qn': 40},
 '10038': {'exp': '01-10-2021',
  'name': 'Coconut',
  'pr': 30,
  'prodt': 'Fruits',
  'qn': 5},
 '10039': {'exp': '15-09-2021',
  'name': 'Banana',
  'pr': 60,
  'prodt': 'Fruits',
  'qn': 120}}

In [14]:
while True:
  prod_id = str(input("Enter product id:"))
  name = str(input("Enter name:"))
  prod_type = str(input("Enter Prouct Category:"))
  pr = int(input("Enter Price:"))
  qn = int(input("Enter Quantity:"))
  exp = str(input("Enter Expiry Date:"))
  if prod_id in record:
    print(prod_id+ " has " + record[prod_id][qn])
    ch1 = intput("Do you want to append the quantity Y/N")
    if ch1 == 'Y':
      qn = int(record[prod_id][qn]) + int(qn)
  record[prod_id] = {'name': name,
                     'pr': int(pr),
                     'prodt': prod_type,
                     'qn': int(qn),
                     'exp':exp}
  ch = input("Do you want to add more records Y/N: ")
  if ch == 'N':
    break
  else:
    continue

Enter product id:1040
Enter name:Silk
Enter Prouct Category:Food
Enter Price:85
Enter Quantity:85
Enter Expiry Date:01-01-2022
Do you want to add more records Y/N: N

In [15]:
while True:
  prod_id = input("Enter product id you want to remove:")
  if prod_id in record:
    del record[prod_id]
  else:
    print("Product doesnt exist or is already removed")
  ch2 = input("Do you want to delete more records Y/N :")
  if ch2 == 'N':
    break
  else:
    continue

Enter product id you want to remove:1040
Do you want to delete more records Y/N :N

In [16]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()